<!DOCTYPE html>
<html>
<head>
  <title>KSBE Phishing Exercise</title>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= analytics_init if GoogleAnalytics.valid_tracker? %>
</head>
<body>

<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
